@model iMaintenanceTotal.Models.MaintTask
@{ 
    var item = Model;
}

    <td>@Html.DisplayFor(modelItem => item.Title)</td>
    <td>@Html.DisplayFor(modelItem => item.Category)</td>
    <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
    <td>@Html.DisplayFor(modelItem => item.CompleteBy)</td>
    <td>@Html.DisplayFor(modelItem => item.Frequency)</td>
    <td>@Html.DisplayFor(modelItem => item.Notes)</td>
    <td><button type="button" class="btn btn-primary btn-xs glyphicon glyphicon-pencil editor-container" data-id="@item.MaintTaskId"></button></td>
    <td><a href="/MaintTask/Delete/@item.MaintTaskId" formnovalidate class="btn btn-danger btn-xs glyphicon glyphicon-trash"></a></td>


