@model iMaintenanceTotal.Models.MaintTask

            <div class="modal-header mod-head-edit">
                <button type="button" class="close modal-close-top" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                Edit Reminder
            </div>

            @using (Ajax.BeginForm("Edit", "MaintTask", FormMethod.Post,
                    new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "POST",
                        UpdateTargetId = "editor-success-" + @Model.MaintTaskId,
                        OnSuccess = "success",
                        OnFailure = "failure",
                    }))
            {
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.MaintTaskId)
                                        <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-sm-5 form-group">
                                                        <label>Title:</label>@Html.TextBoxFor(model => model.Title)
                                                        <label>Complete By:</label>@Html.TextBoxFor(model => model.CompleteBy, null, new { @placeholder = "mm/dd/yyyy" })
                                                        <label>Frequency:</label>@Html.TextBoxFor(model => model.Frequency)
                                                    </div>
                                                    <div class="col-sm-5 form-group">
                                                        <label>Category:</label>@Html.TextBoxFor(model => model.Category)
                                                        <label>Notes:</label>@Html.TextAreaFor(model => model.Notes)
                                                        <label>Remind Me On:</label>@Html.TextBoxFor(model => model.RemindMeOn, null, new { @placeholder = "mm/dd/yyyy" })
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-success">Save</button>
                                        </div>

            }
